@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

*{
    
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela', sans-serif;
}
#navbar{
    display:block;
    overflow:auto;
    position:sticky;
    top:0%;
    left:0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
#navbarSupportedContent a{
    color: black;
    
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid rgb(148, 42, 0);
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
    transition: .2;
    border-radius: 2px;

}
#navbarSupportedContent button{
    background-color: rgb(241, 119, 63);
    outline-color: black;
    border-radius: 10px;
}
#d-flex{

    padding: .5rem 3rem;
    color: black;
    outline-color: black;
    
}
.logo img{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/***Home***/

#Home{
    background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.4)), url("bg1.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

#Home h1{
    font-size: 80px;
    color: white;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Home p{
    font-size: 18px;
    color: white;
}

#Home .input-group{
    width: 40%;
    height: 45px;

}
.signin {
    background: rgb(241, 119, 63) !important;
    color: white !important;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    border: none !important;
}
.signin a:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    transition: .2;
}
/***About***/

#About{
    background: linear-gradient(#ff6923,#e9fcbe 100%);
    text-align: center;
    margin-top: -40px;
}
#About h1{
    font-weight: 800;
    font-size: 50px;
}
#About img{
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    margin-top: 5px;
}
.btn{
    margin-bottom: 8px;
    padding-top: 50px;
    margin-top: -4px;
    
}
/**image slider**/

#imageslider{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.gallery h1{
    position:relative;
    margin-top: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;

}
.slide{
    width: 20%;
    transition: 2s;

}

.slide img{
    width:800px;
    height: 500px;

}
.manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manuals{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manuals:not(:last-child){
    margin-right: 40px;
}
.manuals:hover{
    background: rgb(255, 123, 0);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
/***Store***/

#Store{
    background: rgb(250, 250, 250);
}
#Store h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
    
}
#Store h5{
    font-size: 20px;
    font-weight: 600;
    text-align: left !important;
}
#Store p{
    text-align: left;
}
#Store img{
    width: 350px;
    height: 200px;
    border-radius: 10px;
}
.card{
    width: 350px;
    height: 350px;
    background: #e5e5e5 !important;
    border: none !important;
    box-shadow: 15px 20px 40px rgba(0,0,0,.4);
    overflow: hidden;
    margin: 30px 60px;
    border-radius: 30px;
    
}
.card:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    transition: .2;

}




/***Contact***/

#Contact img{
    height: 100%;
    width: 100%;
}
.box{
    width: 80% !important;
}
#Contact form{
    display: flex;
    flex-direction: column;
}
#Contact input{
    margin: 10px 0px;
}
#Contact textarea{
    margin: 10px 0px;
}
/***footer***/

footer{
    width: 100%;
    height: 30px;
    background: black;
    margin-top: -30px;
    text-align: center;
    color: white;
    padding: auto 3px;

}
a.nextpage:link, a.nextpage:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  
  a.nextpage:hover, a.nextpage:active {
    background-color: red;
  }
